*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    background-color: $primary; /* For browsers that do not support gradients */
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, $primaryLight, $primaryDark);
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    //line-height: 1.7;
    color: $greyDark1;
    height: 100vh;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $primary;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $primary;
    color: $white;
}